<div class="follow">
    <div class="followUs">
        <h3 class="heading">Follow Us</h3>
<footer>
    <div class="footer-top">
      
        <div class="container1 row">
            <ul class="left-list col-sm-6">
              <li ><a href="http://anemoitechnologies.com" style="color: rgb(0, 0, 0);"><i class="fa fa-globe"  aria-hidden="true"></i>&nbsp; http://anemoitechnologies.com</a></li>
                <li><a href="" style="color: rgb(0, 0, 0);"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;sales@anemoitechnologies.com</a></li>
                <li style="color: rgb(0, 0, 0);"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;+&nbsp;91-80-46533666</li>
            </ul>
          
        </div>
        <div class="container1 row">    
        
            <ul class="right-list col-sm-6">
                <li class="listyale"> <img src="assets/indian_flag.png" style="height: 25px;" alt=""><a style="color: rgb(0, 0, 0);" href="http://anemoitechnologies.com">&nbsp;India</a></li>
                <li class="listyale"> <img src="assets/usa_flag.png" style="height: 25px;" alt=""><a href="http://anemoitechnologies.com" style="color: rgb(0, 0, 0);">&nbsp;USA</a></li>
                <li class="listyale"> <img src="assets/cyprus_flag.png" style="height: 25px;" alt=""><a href="http://anemoitechnologies.com" style="color: rgb(0, 0, 0);">&nbsp;Cyprus</a></li>
                <li class="listyale"> <img src="assets/germany_flag.png" style="height: 25px;" alt=""><a href="http://anemoitechnologies.com" style="color: rgb(0, 0, 0);">&nbsp;Germany</a></li>
                <li class="listyale"> <img src="assets/austrilia_flag.png" style="height: 25px;" alt=""><a href="http://anemoitechnologies.com" style="color: rgb(0, 0, 0);">&nbsp;Australia</a></li>
            </ul>
        </div>
        
    </div>
    <div class="footer-bottom">
        <div class="container"> 
            <div class="col-md-3 col-sm-6">
                <h4 style="color:#d9a272;">Product</h4>
                <ul>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="http://anemoitechnologies.com/robot-portfolio.html" title="AllGoVision">Robotics</a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="http://anemoitechnologies.com/safecc.html" title="All Features">SafeCC </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="http://anemoitechnologies.com/precision-time-for-aviation.html" title="Feature Listing">Precision Time for Aviation </a>
                    </li>
                   
                  
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4 style="color: #d9a272;">Applications / Solutions</h4>
                <ul>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="security-application.php" title="Security Applications">Security Applications </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="retail-application.php" title="Counting/Flow Applications">Counting/Flow Applications
                        </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="traffic-parking-management.php" title="Traffic/Parking Applications">Traffic/Parking
                            Applications </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="enhanced-monitoring.php" title="Enhanced Monitoring">Enhanced Monitoring </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="trigger-based-detection.php" title="Trigger Based Applications">Trigger Based
                            Applications </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="city-surveillance.php" title="City Surveillance">City Surveillance </a>
                    </li>
                 
                </ul>
            </div>
            <div class="col-md-3 col-sm-6">
                <h4 style="color: #d9a272;">Partners / Support</h4>
                <ul>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="technology-partners.php" title="Technology Partners">Technology Partners </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="channel-partner.php" title="Channel Partners">Channel Partners </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="channel-partner-programme.php" title="Channel Partner Programme">Channel Partner
                            Programme </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="partner-login.php" title="Partner Log-in">Partner Log-in </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="partner-register.php" title="Partner Registration">Partner Registration </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="request-form.php" title="Request Form">Request Form </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" href="where-to-buy.php" title="Where to Buy">Where to Buy</a>
                    </li>
                  
                </ul>
            </div>
            <div class="col-md-2 col-sm-6 showdiv">
                <h4 style="color: #d9a272;">Showcase</h4>
                <ul>
                    <li>
                        <a  style="color: rgb(176, 176, 176);" routerLink="/screen-shots" title="Screenshots">Screenshots
                        </a>
                    </li>
                    <li>
                        <a style="color: rgb(176, 176, 176);" routerLink="/videos" title="Demo Videos">Demo Videos </a>
                    </li>
                   
                
                </ul>
            </div>
        </div>
        <p class="copyright">© Anemoi Technologies Pvt. Ltd. Estd. Since 2017</p>
    </div>
</footer>