.follow {
    background: #252424;
    margin-top: -1%;
}
.container {

}
.heading{
    text-align: center;
    color: #e87714;
    padding-top: 1%;
    margin-top: -1%;
    
}
.icon{
   /* display: flex; */
   justify-content: center;
   /* list-style: none; */
   position: relative;
   /* border: 1px solid rebeccapurple; */
}
.img-1 {

    position: relative;
    width: 3%;
    height: 10%;
    margin-left: 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.35));
    margin-top: 2%;
    padding-bottom: 2%;
  
  
  }
  .listyale{
    padding-bottom: 1%;
  }
  .footer-top {
    background: #d7d7d7;
    padding: 22px 0px;
    
}
.container1 {
    width: 100%;
    /* padding: 0 15px !important; */
    margin-right: auto;
    margin-left: auto;
}
  .left-list{
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
  width: 100%;
  /* padding-left: 2%; */
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10%; 
  padding-bottom: 2%;
  }
  .right-list{
    float: right;
    display: flex;
    width: 100%;
    /* padding-left: 2%; */
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6%; 

    /* border: 1px solid red; */
  }
  .copyright {
    border-top: 1px solid #6d6d6d;
    overflow: hidden;
    clear: both;
    margin-bottom: 1%;
    padding: 20px 0px 4px;
    text-align: center;
    color: rgb(157, 155, 155);
}
