<app-navbar></app-navbar>
<div style="height: auto;width: 100%;margin-top: 2%;">
    <div class="row">
        <div class="col-sm-4 hoverclass"><img class="vertiaclimage" src="assets/fire_det_img.png" alt=""></div>
        <div class="col-sm-4 hoverclass"><img class="vertiaclimage" src="assets/vehicle_class_img.jpg" alt=""></div>
        <div class="col-sm-4 hoverclass"><img class="vertiaclimage" src="assets/wrong_side_detection.jpg" alt=""></div>
    </div>

</div>
<div class="allsafe">

    <h1 style="font-size: 25px;">AllSafe <sup>TM</sup> : Safety focused analytics for the new normal.</h1>
    <p>
        <a href="allsafe-analytics.php" style="color: red;">Learn more..</a>
    </p>

</div>

<div class="Features">
    <h4 class="heading">
        <span style=" color: #975012;">Basic and Advanced Features</span>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <a href=""> <img src="assets/fire_detection_logo.png" style="height: 100px;" alt=""></a>
                <div style="margin-top: -2%;">
                    <span style="font-size: 23px;">Fire Detection</span>
                </div>
                <ul class="list1">
                    <p style="font-size: small;">The safety of road users is paramount, and timely detection of
                        incidents such
                        as vehicle fires is crucial to preventing accidents and minimizing damage <a
                            routerLink="/fire-detection" style="color: red;">Read more.. </a></p>
                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href=""> <img src="assets/wrong.png" style="height: 100px;" alt=""></a>
                <div style="margin-top: -2%;">
                    <span style="font-size: 23px;">Wrong Side Vehicle Detection</span>
                </div>
                <ul class="list1">
                    <p style="font-size: small;">The wrong side vehicle detection module is a critical feature within
                        the vehicle incident
                        detection system, designed to identify vehicles that are traveling on the wrong side of the
                        road. <a routerLink="/wrong-side" style="color: red;">Read more.. </a></p>

                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href=""> <img src="assets/vehicle.png" style="height: 100px;" alt=""></a>
                <div style="margin-top: -2%;">
                    <span style="font-size: 23px;">Vehicle Class Detection</span>
                </div>
                <ul class="list1">
                    <p style="font-size: small;">In modern urban environments, efficient traffic management and the
                        timely
                        detection of road incidents are paramount for ensuring public safety, minimizing congestion, and
                        optimizing transportation systems.<a routerLink="/class-detection" style="color: red;">Read
                            more..
                        </a></p>


                </ul>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-6">
                <a href=""> <img src="assets/animal.png" style="height: 100px;" alt=""></a>
                <div style="margin-top: -2%;">
                    <span style="font-size: 23px;">Animal Detection</span>
                </div>
                <ul class="list1">
                    <p style="font-size: small;">
                        The intersection of roads and wildlife habitats presents a challenge: the risk
                        of accidents between vehicles and animals. To address this, animal detection on roads employs
                        technology
                        like infrared imaging, motion sensors <a routerLink="/animal-detection" style="color: red;">Read
                            more..
                        </a>
                    </p>

                </ul>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href=""> <img src="assets/object.png" style="height: 100px;" alt=""></a>
                <div style="margin-top: -2%;">
                    <span style="font-size: 23px;">Object Detection</span>
                </div>
                <ul class="list1">
                    <p style="font-size: small;">
                        Object detection on roads is a groundbreaking technology that uses computer
                        vision and AI to identify and classify objects like vehicles, pedestrians, and signs on
                        roadways. By
                        analyzing visual data from cameras and sensors <a routerLink="/object_detection"
                            style="color: red;">Read
                            more..
                        </a>
                    </p>

                </ul>
            </div>

        </div>
    </h4>
</div>
<div class="Snapshots">
    <h3 class="heading1">
        <span style=" color: #975012;">SNAPSHOTS</span>
        <!-- <a href="" ><span style=" color: red;font-size: 15px;">Show More..</span></a> -->
    </h3>
    <div class="slider-container">

        <div class="slider">
            <a routerLink="/screen-shots">
                <div class="slides">
                    <div class="slide"><img class="img1" src="assets/login_page_ss.png" alt="Image 1"></div>
                    <div class="slide"><img class="img1" src="assets/Dashboard.png" alt="Image 2"></div>
                    <div class="slide"><img class="img1" src="assets/Animal_det_ss.png" alt="Image 3"></div>
                    <div class="slide"><img class="img1" src="assets/Fire_det_ss.png" alt="Image 4"></div>
                    <div class="slide"><img class="img1" src="assets/Object_det_ss.png" alt="Image 5"></div>
                    <div class="slide"><img class="img1" src="assets/vehicle_det_counting_ss.png" alt="Image 6"></div>
                    <div class="slide"><img class="img1" src="assets/wrongside_de_ss.png" alt="Image 7"></div>
                    <div class="slide"><img class="img1" src="assets/wrongvehicle_det_ss.png" alt="Image 8"></div>
                </div>
            </a>
        </div>
    </div>

    <p style="text-align: center;">
        <a routerLink="/screen-shots" style="color: red;">Learn more..</a>
    </p>
</div>


<!-- <h3 class="heading1">
    <span style=" color: #975012;">PARTENERS</span>

</h3>
<div id="container">
    <marquee id="marquee">
        <div style="display: flex;">
            <div class=""><img class="img2" src="assets/1024px-SAP-Logo.svg.png" alt="Image 1"></div>
            <div class=""><img class="img2" src="assets/a.png" alt="Image 1"></div>
            <div class=""><img class="img2" src="assets/Anemoi_hpe_logo_2.jpg" alt="Image 1"></div>
        </div>
    </marquee>
</div> -->



<app-footer></app-footer>