<app-navbar></app-navbar>
<div class="fireContainer">
    <h2>Fire Detection</h2>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <img class="fireImgClass" src="assets/fire_detection_1.png" alt="">
        </div>
        <div class="col-sm-6 card">
            <p style="font-size: medium;">The safety of road users is paramount, and timely detection of incidents such
                as vehicle fires is crucial to preventing accidents and minimizing damage. <br> To address this need, a
                sophisticated fire detection system has been integrated into the existing vehicle incident detection
                system on roads. <br> This system employs advanced technologies to swiftly identify the presence of
                fires in vehicles, enabling rapid response from emergency services and improving overall road safety.
            </p>
            <h4><b>Conclusion:</b></h4>
            <p>The integration of a fire detection system into the vehicle incident detection system on roads represents
                a significant advancement in road safety technology. By leveraging thermal cameras, advanced algorithms,
                and real-time communication, this system enhances emergency response capabilities, mitigates risks, and
                contributes to safer road environments for all users.</p>
        </div>
    </div>
    <div class="row">
        <h3 style="padding-left: 2%;">Benifits:</h3>
        <div class="col-sm-3">
            <h5><b>Early Incident Detection:</b></h5>
            <p>The fire detection system provides early detection of vehicle fires, allowing for swift intervention
                before the situation escalates. <br>This timely detection can prevent the spread of fires, explosions,
                and
                other hazardous conditions.</p>
        </div>
        <div class="col-sm-3">
            <h5><b>Rapid Emergency Response:</b></h5>
            <p>By alerting emergency services and nearby vehicles in real time, the system accelerates the response
                process. <br> This speedier response can lead to quicker containment of fires and more efficient
                evacuation
                of affected areas.</p>
        </div>
        <div class="col-sm-3">
            <h5><b> Minimized Damage and Risk:</b></h5>
            <p>Swift response to fires can minimize the damage to vehicles, infrastructure, and the environment. <br>
                Additionally, by preventing the spread of fire to nearby vehicles or roadside structures, the system
                reduces the risk of secondary incidents and potential casualties.</p>
        </div>
        <div class="col-sm-3">
            <h5><b>Improved Traffic Flow:</b> </h5>
            <p>Efficiently managing fire-related incidents helps maintain smoother traffic flow. <br>By reducing road
                closures and traffic disruptions caused by prolonged fire incidents, the system minimizes congestion and
                delays for road users.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>