.navbar-inverse {
    background: #fff;
    border: 0px;
    margin-bottom: 0px;
    /* z-index: 1; */
}
.navbar {
    position: relative;
    min-height: 50px;
    /* margin-bottom: 20px; */
   
    /* border: 1px solid transparent; */
}


element.style {
}
.navbar-inverse {
    background: #fff;
    border: 0px;
    margin-bottom: 0px;
    z-index: 1;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
body {
    font-family: 'Open Sans', sans-serif;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.top-nav {
    background: #333;
}
.navbar .container {
    padding-left: 15px;
    padding-right: 15px;
}

.csstransforms3d .container {
    -webkit-perspective: 4500;
    -moz-perspective: 3500;
    -ms-perspective: 3500;
    perspective: 3500;
}
.csstransforms3d .container {
    display: block;
    position: relative;
    z-index: 2;
    padding: 0px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    /* margin-left: auto; */
}
.top-links li {
    display: block;
    float: right;
    margin-left: 40px;
}
.csstransforms3d .container {
    -webkit-perspective: 4500;
    -moz-perspective: 3500;
    -ms-perspective: 3500;
    perspective: 3500;
}
.csstransforms3d .container {
    z-index: 0;
}
@media only screen and (max-width: 767px){
.container {
    width: 100%;
    padding: 0 15px !important;
}
}
/* .container-fluid> .container-fluid>.navbar-header, .container>.container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
@media only screen and (max-width: 991px){
.navbar-header {
    height: 65px;
}
} */

.navbar-inverse .navbar-toggle {
    border-color: #333;
}
.navbar-toggle:focus {
    outline: 0;
}
.navbar-toggle {
    margin-top: 15px;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    /* display: list-item; */
    text-align: -webkit-match-parent;
   
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    /* overflow: visible; */
}
button{
    margin: 0;
    font: inherit;
    color: inherit;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-brand{
    /* margin-left: 0; */
    color: #9d9d9d;
    /* padding: 7px 15px; */
    float: left;
    height: 80px;
    /* padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;
}
.navbartitle{
    /* float: right; */
    
}
.nav {
    padding-left: 0;
    /* margin-bottom: 0; */
    list-style: none;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px 0px;
    /* float: right; */
    float: left;
    margin: 0;
    margin: 7.5px -15px;
}
.menu{
    margin-top: 3%;
}
/* .dropdown-menu{} */
.navbar-collapse {
    /* width: 100%; */
    /* padding: 0; */
    /* border-top: 1px solid transparent; */
    /* box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); */
    /* float: right; */
    /* padding-top: 25px;
    border-color: #101010;
    margin: 0px;
    display: block!important; */
    /* margin-top: 8px; */
}
.dropdown:hover .dropdown-menu {
    display: block; 
    margin-top: 0; 
    opacity: 1;
    visibility: visible; 
}

/* ul li:hover a {
    color: rgb(119, 128, 18); 
} */