<nav class="navbar navbar-inverse">

    <div class="top-nav">
        <div class="container">
       
        </div>
    </div>
    <div class="container" >
        <div class="navbar-header">
            <button  type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="index.php" title="VIDs"><img src="assets/VDS_logo.png" style="height: 130px;margin-top: -30%;margin-left: -30%;" alt="VIDs"></a> -->
            <a class="navbar-brand" title="VIDs"><img src="assets/logo.png"
                    style="height: 250px;margin-top: -40%;margin-left: -30%;" alt="VIDs"></a><span></span>
        </div>

        <div id="navbar" class="menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/" class="dropdown-toggle current-menu" data-toggle="dropdown" role="button"
                    aria-haspopup="true" aria-expanded="false" title="Home">HOME
                    &nbsp;&nbsp;&nbsp;&nbsp; <span></span></a>
            </li>
            
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" title="Product">PRODUCT&nbsp;&nbsp;&nbsp;&nbsp;
                        <span></span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="background-color: black;">
                        <!-- <img src="images/menu.png" alt="menu"> -->
                        <ul style="width: 300px;list-style-type: square;">
                            <li><a routerLink="/wrong-side" style="color: rgb(255, 255, 255);" title="Wrong Side Detection">Wrong Side Detection</a> </li>
                            <li><a routerLink="/animal-detection" style="color: rgb(255, 255, 255);" title="Animal Detection">Animal Detection </a></li>
                            <li><a routerLink="/object_detection" style="color: rgb(255, 255, 255);" title="Object Detection">Object Detection</a></li>
                            <li><a routerLink="/fire-detection" style="color: rgb(255, 255, 255);"  title="Fire Detection">Fire Detection</a></li>
                            <li><a routerLink="/class-detection" style="color: rgb(255, 255, 255);" title="Vehicle Class Detection">Vehicle Counting and classification</a></li>
                            <li><a routerLink="/class-detection" style="color: rgb(255, 255, 255);" title="Vehicle Class Detection">Tripwire detection system</a></li>
                            <li><a routerLink="/class-detection" style="color: rgb(255, 255, 255);" title="Vehicle Class Detection">Illegal Parking/vehicle stop detection</a></li>
                            <li><a routerLink="/class-detection" style="color: rgb(255, 255, 255);" title="Vehicle Class Detection">Congestion detection system</a></li>
                            <li><a routerLink="/class-detection" style="color: rgb(255, 255, 255);" title="Vehicle Class Detection">Camera Tampering detection system</a></li>
                            <li><a routerLink="/class-detection" style="color: rgb(255, 255, 255);" title="Vehicle Class Detection">  Over speeding of vehicle detection</a></li>

                        </ul>
                    </div>
                </li>

                
                <li class="dropdown"><a href="#" class="dropdown-toggle current-menu" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false" title="Solutions">SOLUTIONS
                        &nbsp;&nbsp;&nbsp;&nbsp; <span></span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="background-color: black;">
                        <!-- <img src="images/menu.png" alt="menu"> -->
                        <ul style="width: 250px;list-style-type: square;">
                            <li class="active"><a style="color: rgb(255, 255, 255);" routerLink="/traffic-manege" title="City / Traffic Surveillance">Traffic Management</a></li>
                            <li><a style="color: rgb(255, 255, 255);" routerLink="/incident-tracking" title="Building Surveillance">Incident Tracking</a></li>
                        </ul>
                    </div>
                </li>
                <li ><a routerLink="/partners" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false" title="Partners">PARTENERS &nbsp;&nbsp;&nbsp;&nbsp;</a>
                 
                </li>
            
                <li class="dropdown"><a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false" title="Showcase">SHOWCASE &nbsp;&nbsp;&nbsp;&nbsp; <span></span></a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" style="background-color: black;">
                        <!-- <img src="images/menu.png" alt="menu"> -->
                        <ul style="width: 250px;list-style-type: square;">
                            <li><a style="color: rgb(255, 255, 255);" routerLink="/screen-shots" title="Screen Shots">Screen Shots</a></li>
                            <li><a style="color: rgb(255, 255, 255);" routerLink="/videos" title="Videos">Videos</a></li>
                        </ul>
                    </div>
                </li>
                <li><a routerLink="/cantact">CONTACT US &nbsp;&nbsp;&nbsp;&nbsp; <span></span></a></li>
            </ul>
        </div>

    </div>

</nav>