<app-navbar></app-navbar>
<div class="fireContainer3">
    <h2>Animal Detection</h2>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <img class="fireImgClass3" src="assets/animal_detection1.jpg" alt="">
        </div>
        <div class="col-sm-6 card3">
            <p style="font-size: medium;">The intersection of roads and wildlife habitats presents a challenge: the risk
                of accidents between vehicles and animals. To address this, animal detection on roads employs technology
                like infrared imaging, motion sensors, cameras, and radar to identify and alert drivers about animal
                presence. This not only enhances road safety but also aids wildlife conservation. By understanding how
                these technologies work and their benefits, we can foster safer roads and a more harmonious coexistence
                between humans and wildlife.
            </p>
            <h4><b>Conclusion:</b></h4>
            <p>In conclusion, animal detection on roads is a crucial aspect of road safety and wildlife conservation. By
                combining advanced technologies with effective warning systems, we can minimize the risks associated
                with animal-vehicle collisions and foster coexistence between humans and wildlife in shared
                environments.</p>
        </div>
    </div>
    <div class="row">
        <h3 style="padding-left: 2%;">Benifits:</h3>
        <div class="col-sm-3">
            <h5><b>Enhanced Road Safety:</b></h5>
            <p>Animal detection systems reduce the likelihood of collisions between vehicles and wildlife, minimizing
                accidents, injuries, and fatalities for both drivers and animals.</p>
        </div>
        <div class="col-sm-3">
            <h5><b>Wildlife Conservation:</b></h5>
            <p>By preventing animal fatalities, these systems contribute to the preservation of biodiversity and protect
                vulnerable and endangered species from harm.</p>
        </div>
        <div class="col-sm-3">
            <h5><b> Incident Detection and Rapid Response: </b></h5>
            <p> The system's ability to detect incidents such as accidents, breakdowns, or sudden changes in traffic
                flow allows for quicker response times from emergency services. This helps in reducing the potential for
                secondary incidents and ensuring the safety of commuters.</p>
        </div>
        <div class="col-sm-3">
            <h5><b>Cost Savings: </b> </h5>
            <p>Avoiding collisions helps drivers avoid repair costs, medical expenses, and insurance claims, leading to
                economic savings for individuals and society.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>