<app-navbar></app-navbar>
<div class="fireContainer1">
    <h2>Wrong Side Detection</h2>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <img class="fireImgClass1" src="assets/wrong_side1.webp" alt="">
        </div>
        <div class="col-sm-6 card1">
            <p style="font-size: medium;">The wrong side vehicle detection module is a critical feature within the
                vehicle incident detection system, designed to identify vehicles that are traveling on the wrong side of
                the road. <br> This advanced functionality utilizes a combination of computer vision, machine learning
                algorithms, and real-time data processing to promptly detect and alert authorities about potential
                hazards caused by vehicles traveling in the wrong direction.
            </p>
            <h4><b>Conclusion:</b></h4>
            <p>In conclusion, the wrong side vehicle detection module is an integral part of a vehicle incident
                detection system, contributing to overall road safety by identifying and mitigating potential hazards
                caused by vehicles traveling in the wrong direction.</p>
        </div>
    </div>
    <div class="row">
        <h3 style="padding-left: 2%;">Benifits:</h3>
        <div class="col-sm-3">
            <h5><b>Early Warning for Drivers:</b></h5>
            <p>In addition to alerting authorities, the system can also transmit warnings to nearby drivers through
                connected vehicles or mobile apps. <br> This provides an extra layer of safety by allowing drivers to be
                aware of the presence of a wrong side vehicle and take appropriate actions to avoid it.</p>
        </div>
        <div class="col-sm-3">
            <h5><b>Reduced Response Time:</b></h5>
            <p>By swiftly notifying law enforcement and emergency services about wrong side vehicles, the system aids in
                minimizing response times. <br> This rapid response can help prevent accidents and ensure the safety of
                both
                the wrong side driver and oncoming traffic.</p>
        </div>
        <div class="col-sm-3">
            <h5><b> Data Analytics:</b></h5>
            <p> The system accumulates data on incidents involving wrong side vehicles, enabling traffic analysts and
                authorities to identify patterns and trends. <br> This information can be used to make informed
                decisions
                about road design, traffic management, and preventive measures.</p>
        </div>
        <div class="col-sm-3">
            <h5><b>Alerts: </b> </h5>
            <p>The system can be configured to differentiate between different levels of wrong side violations. <br> For
                instance, a vehicle making a U-turn at designated points might trigger a lower-level alert compared to a
                vehicle entering the wrong side on a high-speed road.</p>
        </div>
    </div>
</div>
<app-footer></app-footer>