<app-navbar></app-navbar>
<div class="screenShots">
    <h2 style="color: #c76d1e;padding-left: 3%; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);text-align: center;">Screen
        Shots</h2>
    <div class="row">
        <div class="col-sm-4 " style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss1.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">This is the login page of the application. Only
                administrators have access to log in.</p>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss4.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">This is the dashboard of our application. Here, we
                feature a live map alongside a table that highlights the most recent events detected by the system.
                Additionally, we provide an equipment status table for all cameras positioned at various locations.</p>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss2.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">Each event in the Latest Event table is initially
                labeled with a default status of "Unseen." When an administrator reviews an event and decides to take
                action, they can click on the "Seen" button linked with that particular event. This action
                triggers a confirmation popup box to verify the change of status. </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;padding-right: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss3.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;"> Upon clicking,
                the event's status will change from "Unseen" to "Seen".</p>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss5.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">When a new Fire event is detected and appears in the
                Latest
                Event table, the data associated with that event should be displayed in highlighted rows to facilitate
                rapid identification.</p>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss6.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">We also include an image for each specific event in the
                Latest Event table. This enhances the visibility and comprehension of the events listed.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss7.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">This is the live streaming screen, where live feeds
                from each camera located at various locations are displayed in real-time.</p>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;padding-right: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss8.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">Here, we present an example of an event table
                encompassing all recorded events. This particular table pertains to Object Detection Events. We
                comprehensively display all relevant data related to object detection events, including accompanying
                images and videos for each specific event.</p>
        </div>
        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss9.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">Here, we showcase images of each individual event.</p>
        </div>


    </div>
    <div class="row">

        <div class="col-sm-4" style="padding-left: 2%;padding-bottom: 2%;">
            <img class="imgScreenshot hoverclass" src="assets/ss10.jpg" alt="">
            <p style="padding-top: 5%;border-bottom: 2px solid;">Here, we showcase videos of each individual event.</p>
        </div>

    </div>
</div>
<app-footer></app-footer>